<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Write a new board</a>
    <ul>
      <% messages.forEach(message => { %>
      <li>Name:<%= message.user %> / Text: <%= message.text %></li>
      <% }) %>
    </ul>
  </body>
</html>
